# 1. Reading in the data

In [184]:
import pandas as pd

In [185]:
# read in full_data.parquet as a df called df_linec
df_linec = pd.read_parquet('full_data.parquet')

In [186]:
df_linec.head()

,SESSION_DATE,SniffTime,SniffThreshold,age,Cumulative Sniff Time,ReadTotalSnifftime,id_rat,rat_name,birth_date,gender,weight,temperature,id_sample,tb,hit,match_flag,evaluation_sniff_threshold,session_sniff_threshold
0,2016-11-03 00:00:00,0,0.0,2.0,NaN,None,98.0,Stephen,2014-07-21,M,NaN,30.5,515562,False,False,None,NaN,NaN
1,2016-11-03 00:00:00,0,0.0,2.0,NaN,None,98.0,Stephen,2014-07-21,M,NaN,30.5,515546,False,False,None,NaN,NaN
2,2016-11-03 00:00:00,0,0.0,2.0,NaN,None,98.0,Stephen,2014-07-21,M,NaN,30.5,515422,False,False,None,NaN,NaN
3,2016-11-03 00:00:00,0,0.0,2.0,NaN,None,98.0,Stephen,2014-07-21,M,NaN,30.5,515559,False,False,None,NaN,NaN
4,2016-11-03 00:00:00,0,0.0,2.0,NaN,None,98.0,Stephen,2014-07-21,M,NaN,30.5,515553,False,False,None,NaN,NaN

In [187]:
# make a list of all unique session date values
session_dates = df_linec['SESSION_DATE'].unique()
print(f"Unique SESSION_DATE values: {session_dates}")

Unique SESSION_DATE values: ['2016-11-03 00:00:00' '2016-09-01 00:00:00' '2016-09-05 00:00:00'
 '2016-09-07 00:00:00' '2016-09-02 00:00:00' '2016-09-06 00:00:00'
 '2016-09-08 00:00:00' '2016-09-15 00:00:00' '2016-09-16 00:00:00'
 '2016-09-09 00:00:00' '2016-09-13 00:00:00' '2016-09-14 00:00:00'
 '2016-09-20 00:00:00' '2016-09-21 00:00:00' '2016-09-22 00:00:00'
 '2016-09-29 00:00:00' '2016-09-27 00:00:00' '2016-09-28 00:00:00'
 '2016-10-03 00:00:00' '2016-10-05 00:00:00' '2016-10-06 00:00:00'
 '2016-10-07 00:00:00' '2016-10-13 00:00:00' '2016-09-30 00:00:00'
 '2016-10-18 00:00:00' '2016-10-20 00:00:00' '2016-10-24 00:00:00'
 '2016-09-26 00:00:00' '2016-10-10 00:00:00' '2016-10-11 00:00:00'
 '2016-10-12 00:00:00' '2016-10-17 00:00:00' '2016-10-19 00:00:00'
 '2016-12-01 00:00:00' '2016-10-21 00:00:00' '2016-10-28 00:00:00'
 '2016-12-02 00:00:00' '2016-12-05 00:00:00' '2016-12-06 00:00:00'
 '2016-10-31 00:00:00' '2016-11-01 00:00:00' '2016-11-02 00:00:00'
 '2016-11-29 00:00:00' '2019-03-15 00:00:00' '45170' '45173' '45174'
 '45175' '45176' '45177' '45181' '45187' '45182' '45183' '45184' '45188'
 '45189' '45190' '45191' '45195' '45194' '45196' '45198' '45201' '45202'
 '45203' '45204' '45205' '45208' '45209' '45210' '45211' '45212' '45215'
 '45216' '45217' '45218' '45219' '45222' '45223' '45224' '45225' '45226'
 '45229' '45230' '45231' '45232' '45233' '45237' '45236' '45238' '45239'
 '45240' '45243' '45244' '45245' '45246' '45247' '45250' '45251' '45253'
 '45252' '45254' '45257' '45258' '45259' '45260' '45261' '45264' '45265'
 '45267' '45266' '45268' '45271' '45272' '45273' '45274' '45275' '45278'
 '45279' '45280' '45281' '45282' '45294' '45295' '45296' '45299' '45300'
 '45301' '45302' '45306' '45307' '45308' '45309' '45310' '45313' '45314'
 '45315' '45316' '45321' '45320' '45322' '45323' '45324' '45327' '45328'
 '45329' '45330' '45331' '45334' '45335' '45336' '45337' '45338' '45341'
 '45342' '45343' '45344' '45345' '45348' '45349' '45350' '45351' '45352'
 '45355' '45357' '45356' '45358' '45359' '45363' '45364' '45362' '45365'
 '45366' '45369' '45370' '45371' '45372' '45373' '45376' '45378' '45379'
 '45384' '45385' '45386' '45387' '45390' '45391' '45394' '45397' '45398'
 '45399' '45400' '45401' '45404' '45405' '45407' '45411' '45412' '45414'
 '45415' '45418' '45419' '45421' '45422' '45425' '45426' '45427' '45428'
 '45429' '45432' '45433' '45434' '45435' '45436' '45439' '45440' '45441'
 '45442' '45443' '45446' '45447' '45448' '45449' '45450' '45453' '45454'
 '45455' '45456' '45457' '45461' '45462' '45463' '45464' '45467' '45468'
 '45469' '45470' '45471' '45474' '45475' '45477' '45478' '45481' '45482'
 '45483' '45484' '45485' '45488' '45489' '45490' '45491' '45492' '45497'
 '45498' '45499' '45502' '45503' '45504' '45505' '45506' '45509' '45510'
 '45511' '45513' '45516' '45517' '45519' '45520' '45523' '45524' '45525'
 '45526' '45527' '45530' '45531' '45532' '45533' '45534' '45537' '45538'
 '45539' '45540' '45541' '45544' '45545' '45546' '45547' '45548' '45552'
 '45553' '45554' '45555' '45559' '45560' '45561' '45562' '45565']

In [188]:
import pandas as pd
import numpy as np

def convert_mixed_dates(val):
    try:
        # If numeric (int/float), treat as Excel serial
        if isinstance(val, (int, float, np.integer, np.floating)):
            return pd.to_datetime('1899-12-30') + pd.to_timedelta(val, unit='D')
        # If string, check if it’s numeric (Excel serial stored as string)
        elif val.isdigit():
            return pd.to_datetime('1899-12-30') + pd.to_timedelta(int(val), unit='D')
        else:
            # Else, try to parse normally
            return pd.to_datetime(val, errors='coerce', infer_datetime_format=True)
    except:
        return pd.NaT

df_linec["SESSION_DATE"] = df_linec["SESSION_DATE"].apply(convert_mixed_dates)

C:\Users\ValentinJanclaes\AppData\Local\Temp\ipykernel_26204\2523619785.py:14: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  return pd.to_datetime(val, errors='coerce', infer_datetime_format=True)

In [189]:
# make a list of all unique session date values
session_dates = df_linec['SESSION_DATE'].unique()
print(f"Unique SESSION_DATE values: {session_dates}")

Unique SESSION_DATE values: <DatetimeArray>
['2016-11-03 00:00:00', '2016-09-01 00:00:00', '2016-09-05 00:00:00',
 '2016-09-07 00:00:00', '2016-09-02 00:00:00', '2016-09-06 00:00:00',
 '2016-09-08 00:00:00', '2016-09-15 00:00:00', '2016-09-16 00:00:00',
 '2016-09-09 00:00:00',
 ...
 '2024-09-13 00:00:00', '2024-09-17 00:00:00', '2024-09-18 00:00:00',
 '2024-09-19 00:00:00', '2024-09-20 00:00:00', '2024-09-24 00:00:00',
 '2024-09-25 00:00:00', '2024-09-26 00:00:00', '2024-09-27 00:00:00',
 '2024-09-30 00:00:00']
Length: 298, dtype: datetime64[ns]

# 2. Profiling the rats

In [190]:
import pandas as pd
from typing import Literal

def fill_weights_day_level(
    df: pd.DataFrame,
    name_col: str = "rat_name",
    date_col: str = "SESSION_DATE",
    weight_col: str = "weight",
    agg: Literal["mean", "first"] = "mean"
) -> pd.DataFrame:
    """
    Return a copy of df where missing WEIGHT values are filled on a day-level:
      - Leading days (before first known) are filled with first known weight.
      - Trailing days (after last known) are filled with last known weight.
      - Internal missing days are linearly interpolated based on calendar days.
    The original rows are preserved; only WEIGHT is filled where missing.
    """
    df = df.copy()
    # normalize to midnight datetimes so we have proper DatetimeIndex behavior
    df[date_col] = pd.to_datetime(df[date_col]).dt.normalize()

    # choose aggregator for days (mean or first)
    agg_func = "mean" if agg == "mean" else "first"

    filled_mappings = []  # will collect per-name mappings (date -> filled weight)

    for name, g in df.groupby(name_col):
        # daily aggregated known values (only for dates that exist in raw data)
        daily_known = g.groupby(date_col)[weight_col].agg(agg_func)
        # ensure index is DatetimeIndex normalized
        daily_known.index = pd.to_datetime(daily_known.index).normalize()

        start = g[date_col].min()
        end = g[date_col].max()
        full_idx = pd.date_range(start, end, freq="D")

        # series with full calendar index for this rat
        day_series = pd.Series(index=full_idx, dtype=float)
        # assign known values (days that had rows; may be NaN if all rows that day were NaN)
        day_series.loc[daily_known.index] = daily_known.values

        # find first/last actual known (non-NaN) values
        first_valid = day_series.first_valid_index()
        last_valid = day_series.last_valid_index()

        if first_valid is None:
            # No known weights at all for this rat: leave NaNs (nothing to interpolate/propagate)
            # Map back to rows so merge keeps alignment
            mapping = pd.DataFrame({
                date_col: g[date_col].unique(),
                name_col: name,
                "WEIGHT_FILLED": [float("nan")] * g[date_col].nunique()
            })
            filled_mappings.append(mapping)
            continue

        # Fill leading days (before first_known) with first_known, and trailing after last_known with last_known
        # (this only affects outside the known-range)
        day_series.loc[:first_valid] = day_series.loc[first_valid]
        day_series.loc[last_valid:] = day_series.loc[last_valid]

        # Now interpolate only the internal NaNs using time-aware interpolation
        day_series = day_series.interpolate(method="time")

        # Build mapping DataFrame for dates that actually exist in g
        unique_dates = pd.Series(g[date_col].unique()).dt.normalize()
        mapping = pd.DataFrame({date_col: unique_dates})
        mapping[name_col] = name
        # map date -> interpolated day weight
        mapping["WEIGHT_FILLED"] = mapping[date_col].map(day_series)
        filled_mappings.append(mapping)

    # combine mappings and merge back to original
    mapping_all = pd.concat(filled_mappings, ignore_index=True)
    # ensure datatypes align for merge
    mapping_all[date_col] = pd.to_datetime(mapping_all[date_col]).dt.normalize()
    df = df.merge(mapping_all, on=[name_col, date_col], how="left")

    # fill original WEIGHT only where missing
    df[weight_col] = df[weight_col].fillna(df["WEIGHT_FILLED"])
    df = df.drop(columns=["WEIGHT_FILLED"])

    return df

In [191]:
# Make sure SESSION_DATE is datetime and WEIGHT is numeric
df_linec["SESSION_DATE"] = pd.to_datetime(df_linec["SESSION_DATE"])
df_linec["weight"] = pd.to_numeric(df_linec["weight"], errors="coerce")

# Apply the function from above
df_linec_filled = fill_weights_day_level(
    df_linec,
    name_col="rat_name",
    date_col="SESSION_DATE",
    weight_col="weight",
    agg="first"   # or "mean" if you prefer daily average
)

# Now df_linec_filled has WEIGHT filled on day-level

In [192]:
df_linec_filled.head()

,SESSION_DATE,SniffTime,SniffThreshold,age,Cumulative Sniff Time,ReadTotalSnifftime,id_rat,rat_name,birth_date,gender,weight,temperature,id_sample,tb,hit,match_flag,evaluation_sniff_threshold,session_sniff_threshold
0,2016-11-03,0,0.0,2.0,NaN,None,98.0,Stephen,2014-07-21,M,866.428571,30.5,515562,False,False,None,NaN,NaN
1,2016-11-03,0,0.0,2.0,NaN,None,98.0,Stephen,2014-07-21,M,866.428571,30.5,515546,False,False,None,NaN,NaN
2,2016-11-03,0,0.0,2.0,NaN,None,98.0,Stephen,2014-07-21,M,866.428571,30.5,515422,False,False,None,NaN,NaN
3,2016-11-03,0,0.0,2.0,NaN,None,98.0,Stephen,2014-07-21,M,866.428571,30.5,515559,False,False,None,NaN,NaN
4,2016-11-03,0,0.0,2.0,NaN,None,98.0,Stephen,2014-07-21,M,866.428571,30.5,515553,False,False,None,NaN,NaN

In [193]:
# check if any weights are still missing
missing_weights = df_linec_filled['weight'].isnull().sum()
print(f"Number of missing WEIGHT entries after filling: {missing_weights}")

Number of missing WEIGHT entries after filling: 205370

In [194]:
# delete all columns but Birthdate, Gender, WEIGHT and TB
df_linec_filled = df_linec_filled[['age', 'gender','temperature', 'weight', 'tb', 'hit']]
df_linec_filled.head()

   age gender  temperature      weight     tb    hit
0  2.0      M         30.5  866.428571  False  False
1  2.0      M         30.5  866.428571  False  False
2  2.0      M         30.5  866.428571  False  False
3  2.0      M         30.5  866.428571  False  False
4  2.0      M         30.5  866.428571  False  False